html {
	height: 100%;
}

section {
	display: flex;
	height: calc(80% - 8px * 2);
}

body {
	height: calc(100% - 8px * 2);
	background: linear-gradient(135deg, #b2ffff, #b2ffff 25%, #3abeff 50%, #3c59ff 75%, #3c59ff);
	/* background: linear-gradient(225deg, #5a5a97,  #313163 25%, #0f0f41 50%, #0f0f41 75%, #010015); */
	background-size: 400% 400%;
	width: 100%;
	animation: animate 15s ease infinite;
}

@keyframes animate {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

/*#region Header*/

ul {
	display: flex;
}

li {
	display: inline;
}

li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border-radius: 25%;
}

h2 a {
	text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

.headerContent {
	align-items: center;
	display: flex;
	color: black;
	font-style: oblique;
	font-size: 24px;
}

#headerContainer {
	height: 100%;
}


#headerProfile {
	justify-content: flex-start;
	margin-left: 5%;
	gap: 1rem;
}

#headerProfile,
#headerTheme {
	width: 30%;
}

#headerLinks {
	width: 40%;
	justify-content: space-evenly;
}

#headerTheme {
	justify-content: flex-end;
	gap: 10px;
	margin-right: 5%;
}

#sun {
	background: url("../sun.svg") no-repeat center;
	background: 100%;
}

#profilePhoto {
	display: flex;
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.textFlex {
	display: flex;
}

#profileName,
#profilePhotoContainer {
	width: 45%;
}

#theme-switch__input {
	height: 0%;
	width: 0%;
}

.theme-switch__label {
	padding: 10px;
	/* margin: 60px; */
	transition: background-color 200ms ease-in-out;
	width: 120px;
	height: 50px;
	border-radius: 50px;
	text-align: center;
	/* background-color: slateGray; */
	box-shadow: -4px 4px 15px inset rgba(0, 0, 0, 0.4);
}

header,
footer {
	height: 10%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.3);
}

/*#endregion*/

/*#region Footer*/
footer {
	display: flex;
	justify-content: center;
}

#footerContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.footerDivElements {
	display: flex;
	width: 30%
}

#footerTermsPrivacy {
	width: 40%;
	justify-content: center;
}

#footerCopyright {
	justify-content: flex-end;
	margin-right: 5%;
}

/* #footerSocials,
#footerTermsPrivacy {
	justify-content: space-evenly;
} */

#footerSocials {
	justify-content: flex-start;
	margin-left: 5%;
	gap: 1rem;
}

/*#endregion*/

/*#region Landing page*/

#menu {
	height: 80%;
}

.menu h2 {
	text-align: center;
	color: black;
	font-size: 60px;
	/* margin-top: 15%; */
}

#menuContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
}

.menu P {
	text-align: center;
	font-size: 28px;
	width: 35%;
}

/*#endregion*/

/*#region Projects page*/
#projectsContainer{
	width: 80%;
	height: 80%;
	display: flex;	
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.3);
}

.projectRow {
	display: flex;
	height: 45%;
	width: 100%;
	justify-content: space-evenly;
	align-items: center;
	margin: auto;
}

.project {
	background-size: 100% 100%;
	display: flex;
	flex-direction: row;
	background-color: red;
	width: 30%;
	height: 65%;
	justify-content: center;
}

.project:hover{
	width: 35%;
	height: 70%;
}

#projectMoira{
	background-image: url("../moira.png");
}

#projectBlastPast{
	background-image: url("../Menu.PNG");
}

#projectProceduralCity{
	background-image: url("../City.PNG");
}

#projectPokeApi{
	background-image: url("../PokeAngular.png");
}

#projectShipQuik{
	background-image: url("../ShipQuik.png");
}

#projectConway{
	background-image: url("../Conway.png");
}

#moira {
	object-fit: contain;
}

/*#endregion*/